<section class="forms">
  
  <h2>Modification de mot de passe <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>En attende de confirmation pour : <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "laissez ce champ libre si vous ne voulez pas change rle mot de passe",
                  required: false,
                  input_html: { autocomplete: "nouveau-mot-de-passe" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "nouveau-mot-de-passe" } %>
      <%= f.input :current_password,
                  hint: "nous avons besoin de votre mot de passe actuel pour confirmer les changements",
                  required: true,
                  input_html: { autocomplete: "mot de de passe actuel" } %>
    </div>

    <div class="form-actions button action">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <h3>Annuler mon compte</h3>

  <p>Déçu ? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Retour", :back %>

</section>