<body>
    <section>
        <div class="new-post button action">
            <%= link_to 'New Post', new_post_path %>
        </div>

                <div class="posts">
                
                <% @posts.each do |post| %>

                        <div class="images">
                            <%= link_to post do%>
                            <img class="img-hover" src="<%= post.image %>" >
                            <% end %>

                            <div class="description">
                                <p class="title"><%= post.title %> </p>
                                <p class="category"> <%= post.category.name %> </p>
                            </div>
                        </div>
                    
                <% end %>

                </div>

    </section>
</body>
