

<section class="show">

  <p id="notice"><%= notice %></p>

  <p>
    <span>User</span>
    <%= @post.user.email %>
  </p>

  <h2>
    <%= @post.title %>
  </h2>

  <img class="show-img" alt src="<%= @post.image %>">

  <p class="description"> 
    <%= @post.desciprion %>
  </p>

  <p>
    <span>Category</span>
    <%= @post.category.name %>
  </p>

  <p class="back">
  <%= link_to 'Back', root_path %>
  </p>

</section>