

<section>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>User:</strong>
    <%= @post.user_id %>
  </p>

  <p class="title">
    <strong><%= @post.title %></strong>
  </p>

  <img alt src="<%= @post.image %>">

  <%= @post.desciprion %>

  <p class="category">
    <strong>Category:</strong>
    <%= @post.category_id %>
  </p>

  <p class="back">
  <%= link_to 'Back', posts_path %>
  </p>

</section>